* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100px;
    background: linear-gradient(#363636, #D3D3D3, #363636);
}

h1 {
    font-size: 3rem;
    color: #000;
    /* font-style: italic; */
}